# Configurações do Discord Bot
DISCORD_TOKEN=seu_token_do_discord_aqui
COMMAND_PREFIX=!

# Configurações do MongoDB Atlas
# Exemplo de URI: mongodb+srv://<usuario>:<senha>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=discord_bot_db
