discord.py>=2.3.0
motor>=3.7.0
pymongo>=4.6.0
python-dotenv>=1.0.0
dnspython>=2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
attrs==25.4.0
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
comtypes==1.4.16
contourpy==1.3.3
cryptography==45.0.4
cycler==0.12.1
discord.py==2.7.0
et_xmlfile==2.0.0
fonttools==4.60.1
frozenlist==1.8.0
greenlet==3.3.0
h11==0.16.0
idna==3.10
kiwisolver==1.4.9
lxml==5.4.0
matplotlib==3.10.7
MouseInfo==0.1.3
multidict==6.7.0
numpy==2.2.6
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.0
pillow==12.1.1
playwright==1.57.0
propcache==0.4.1
psutil==7.0.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pyee==13.0.0
pyfiglet==1.0.4
PyGetWindow==0.0.9
PyMsgBox==2.0.1
PyNaCl==1.6.0
pynput==1.8.1
pyparsing==3.2.5
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pyspnego==0.11.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytweening==1.2.0
pytz==2025.2
pywin32==310
pywinauto==0.6.9
qrcode==8.2
RapidFuzz==3.13.0
requests==2.32.4
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
schedule==1.2.2
selenium==4.38.0
SharePlum==0.5.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SpeechRecognition==3.15.1
sspilib==0.3.1
tqdm==4.67.1
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.9.0
wsproto==1.2.0
yarl==1.22.0
pymongo==4.15.0
